---
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";

import backgroundHexigonsImage02 from "../assets/background-hexigons-02.svg";
import portfolioImage01 from "../assets/images/portfolio/01.jpg";
import portfolioImage02 from "../assets/images/portfolio/02.jpg";
import portfolioImage03 from "../assets/images/portfolio/03.jpg";
---

<Main>
    <section class="relative h-[80vh] pb-32">
        <div class="container-section p py-24 h-full grid place-content-center">
            <h1 class="h1 text-center">Our Portfolio</h1>
            <p class="mt-3 text-center mx-auto paragraph">
                Every project is a journey from vision to reality. Our portfolio
                is a testament to our dedication and craftsmanship.
            </p>
        </div>
        <Image
            class="absolute -z-10 inset-0 w-full h-full object-cover opacity-[2%]"
            src={backgroundHexigonsImage02}
            alt=""
        />
    </section>
    <section class="relative -mt-32">
        <div class="container-section">
            <div
                class="grid gap-10 -mx-48"
                style="grid-template-columns: 5fr 6fr 6fr 6fr 5fr;"
            >
                <Image
                    class="row-start-2 row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-start-1 row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage02}
                    alt=""
                />
                <Image
                    class="row-start-2 row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage03}
                    alt=""
                />
                <Image
                    class="row-start-1 row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-start-2 row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
                <Image
                    class="row-span-2 aspect-[3/4] object-cover rounded-lg shadow-md"
                    src={portfolioImage01}
                    alt=""
                />
            </div>
        </div>
        <div class="absolute inset-0 my-32">
            <div class="absolute -z-10 inset-0 opacity-5 boxes"></div>
            <div class="absolute -z-20 inset-0 bg-orange"></div>
        </div>
    </section>
</Main>
